.main-productos{
    .card-display{
        background-color: $color-body;
        padding-left: 70px;
        padding-bottom: 10px;
        h1{ @extend %titulo;}

        .card{
            width: 90%;
            max-width: 350px;
            margin: 10px;
            border: 1px solid nth($list: $colores-texto, $n: 5);
            border-radius: 20px 0 20px 0;
            text-align: center;
            background-color: white;
            max-height: 500px;
            display:inline-block;
            margin-bottom: 0;
            box-shadow: 4px -1px 20px 6px rgba(196,187,212,0.75);
            -webkit-box-shadow: 4px -1px 20px 6px rgba(196,187,212,0.75);
            -moz-box-shadow: 4px -1px 20px 6px rgba(196,187,212,0.75);
            position: relative;
            img{
                min-width: 250px;
                width: 100%;
                height: 280px;
            }
            h2{
                font-size: large;
                color: nth($list: $colores-texto, $n:6 );
            }
            p{
                color: nth($list: $colores-texto, $n:6 );
                margin: 0;
            }
            .card-body{
                border-radius: 0px 0 20px 0;
                border: 1px solid nth($list: $colores-texto, $n: 5);
                padding: 1%;
                font-family: robotos;
            }
            .descuento{
                color: nth($list: $colores-texto, $n:5 );
                position: absolute;
                top: 0;
                right: 0;
                font-size: medium;
                background-color: rgb(230, 198, 148);
                border-radius: 0 0 0 9px;
                font-family: robotos;
                height: 25px;
                width: 80px;
            }
        }
    }
}