//estilos generales  
*{  margin: 0;
    padding: 0;
}

// a:hover{
//     color: blanchedalmond;
//     background-color: nth($list: $colores-texto, $n:3 );
//     border: 2px solid nth($list: $colores-texto, $n:3);
// }

.focus:focus{
    border: 2px solid nth($list: $colores-texto, $n:4);
    outline: 1px ;
}

@font-face {
    font-family: robotos;
    src: url(./../assets/fonts/Roboto-BoldItalic.ttf);
}

html{
    color: black;
    font-family: robotos;
    font-weight: 400;
    font-style:inherit;  
}

.boton{
    margin-top: 20px;
    background-color: map-get($map: $boton-estandar, $key: color-estandar);
    border: map-get($map: $boton-estandar , $key: borde-estandar);
    width: map-get($map: $boton-estandar, $key: width-estandar);
    &:hover{ 
            background-color: map-get($map: $boton-estandar, $key: hover-estandar);
            border: map-get($map: $boton-estandar , $key: borde-estandar);;
        }
    color: map-get($map: $boton-estandar, $key: color-fuente-estandar);
    font-family: robotos;

}
