$color-body: antiquewhite;
$colores-texto:
white,
wheat,
darksalmon,
coral,
red,
brown,
black;

$boton-estandar: (
    color-estandar: rgb(170, 71, 71),
    width-estandar: 90px,
    borde-estandar: 2px solid rgb(165, 39, 39),
    hover-estandar: rgb(194, 109, 109),   
    color-fuente-estandar: wheat,
    
);