footer{
    div{
        padding-top: 10px;
        padding-left: 120px;
        justify-content: center;
        align-items: center;
        div{
            .logo{
                padding-left: 100px;
            } 
            img{
                width: 30px;
                height: 30px;
                margin-top: 15px;
                margin-bottom: 0px;
                margin: 5px;
            }
                li{
                    list-style: none;
                    a{
                        color: black;
                        text-decoration: none;
                        font-family: robotos;
                    }
            }
        }
    }
    
}






























